@charset "utf-8";

body, select, input, textarea {
	font-family: 나눔명조, 나눔고딕, 돋움, Dotum, 굴림, Gulim, AppleGothic, Sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 150%;
	margin: 0px auto;
	padding: 0px;
	outline: none;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
	color: #333;
}

form {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* define area */
#wrap {
	width: 700px;
	margin: auto;
}

#contents {
	float: left;
	width: 100%;
	margin: auto;
}

#message {
	float: left;
	color: #999;
}

#head {
	float: left;
	font-size: 20px;
	padding: 10px;
	color: #3366cc;
}

#tail {
	float: left;
	width: 100%;
	padding: 10px 0;
	font: 12px bold;
	border-top: #ccc solid 2px;
	text-align: right;
	margin: 40px 0 40px 0;
}

/* define style */
.form_row {
	width: 100%;
	border-bottom: 1px solid #cccccc;
	padding: 5px 0 5px 0;
	float: left;
}

.no_bottom {
	border-bottom: 0px;
}

.form_top {
	border-top: 2px solid #999999;
}

.form_subject {
	width: 20%;
	float: left;
}

.input_area {
	width: 80%;
	float: left;
}

.input {
	width: 99%;
	font-weight: bold;
	border: 1px solid #ccc;
}

.input:focus {
	border: 2px solid #ccc;
	background-color: #ffe;
}

.button_area {
	width: 100%;
	float: left;
	padding: 10px 0;
	margin: 0;
	text-align: center;
}

.menu_area {
	width: 100%;
	float: left;
	padding: 10px 0;
	margin: 0;
	text-align: right;
}

.paging {
	text-align: center;
}

.box {
	border: solid 5px #eee;
	padding: 10px;
	float: left;
}

.hr {
	color: #eee;
	height: 5px;
	background-color: #eee;
	border: 0;
}

/*
#list {
	width: 100%;
}

#list .subject {
	width: 600px;
	border-bottom: 1px solid #cccccc;
}

#list .date {
	width: 100px;
	border-bottom: 1px solid #cccccc;
}

#list .title {
	border-top: 1px solid #cccccc;
}

#view #subject {
	padding: 5px;
	font-weight: bold;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

#view #content {
	padding: 20px 5px;
	border-bottom: 1px solid #cccccc;
}

#comments #comment {
	padding: 5px;
	border-bottom: 1px solid #cccccc;
	font-size: 16px;
}

#article_comment_form #comment_form {
	width: 100%;
	height: 100px;
	margin: 5px 0 0 0;
	border: 1px solid #cccccc;
	font-size: 16px;
}

#article_comment_form .button_area {
	text-align: right;
	margin: 2px 0 5px 0;
}
*/

