@charset "utf-8";

body, select, input, textarea {
	font-family: 나눔명조, 나눔고딕, 돋움, Dotum, 굴림, Gulim, AppleGothic, Sans-serif;
	font-size: 16px;
	color: #333333;
	margin: 0px auto;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #999999;
}

a:hover {
	text-decoration: underline;
	color: #333333;
}

#contents {
	width: 700px;
	margin: auto;
}

#head {
	width: 700px;
	margin: auto;
	font-size: 20px;
	padding: 10px;
	color: #3366cc;
}

#list {
	width: 100%;
}

.menu_area {
	text-align: right;
}

.paging {
	text-align: center;
}

form #subject {
	width: 100%;
	font-weight: bold;
	margin: 5px 0 5px 0;
}

form #content {
	width: 100%;
	height: 250px;
	line-height: 150%;
	margin: 5px 0 5px 0;
}

form .button_area {
	text-align: center;
}

#view {
	line-height: 150%;
}

#view #subject {
	padding: 5px;
	font-weight: bold;
}

#view #content {
	padding: 5px;
}

